/* brand.css */

/* Light Mode */
:root {
  --brand-1: hsl(211, 100%, 99%);
  --brand-2: hsl(210, 100%, 98%);
  --brand-3: hsl(210, 100%, 96%);
  --brand-4: hsl(211, 100%, 94%);
  --brand-5: hsl(211, 100%, 91%);
  --brand-6: hsl(212, 100%, 88%);
  --brand-7: hsl(212, 100%, 83%);
  --brand-8: hsl(213, 98%, 76%);
  --brand-9: hsl(214, 92%, 58%);
  --brand-10: hsl(215, 86%, 53%);
  --brand-11: hsl(216, 80%, 44%);
  --brand-12: hsl(216, 72%, 22%);
}

/* Dark Mode */
.dark {
  --brand-1: hsl(216, 40%, 10%);
  --brand-2: hsl(215, 48%, 12%);
  --brand-3: hsl(214, 55%, 16%);
  --brand-4: hsl(214, 60%, 19%);
  --brand-5: hsl(213, 64%, 22%);
  --brand-6: hsl(213, 69%, 26%);
  --brand-7: hsl(212, 75%, 32%);
  --brand-8: hsl(211, 83%, 40%);
  --brand-9: hsl(214, 92%, 58%);
  --brand-10: hsl(216, 94%, 67%);
  --brand-11: hsl(217, 100%, 81%);
  --brand-12: hsl(211, 100%, 94%);
}